<p>
    dashboard content in angular
    <button (click)="sendRandomNg1Data()">send input to AngularJS (input)</button>
</p>

<b>Output (from AngularJs):</b>
<pre>{{ ng1Data | json }}</pre>


<ng1-dashboard [ng1Data]="ng2Data" (ng1Event)="ng2Fire($event)">
    <p>Content in Angular, transcluded into AngularJs</p>
    <section>
        <button (click)="sendRandomNg1Data()">send input to AngularJS (input / transclusion)</button>
    </section>
    <ng1-date-picker></ng1-date-picker>
</ng1-dashboard>