span {
    padding: 2px 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px white;
    color: rgba(0, 0, 0, 0.7);
}

.ng2 {
    background: rgba(243, 49, 112, 0.5);
}

.ng1 {
    background: rgba(43, 195, 236, 0.5);
}

.ng-transclude {
    background: rgba(246, 181, 0, 0.5);
}